@charset "UTF-8";

body {
    margin-top: 50px;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #687259;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos para dispositivos móveis com largura de tela menor que 600 pixels */
@media screen and (max-width: 768px) {
    body {
        margin-top: 120px; /* Por exemplo, uma margem menor para dispositivos móveis */
    }
}

.nucleo {
    text-align: left; /* Alinhe o texto à esquerda. */
}

.nucleo p {
    font-size: 3em;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.nucleo p a {
    color: black; /* Cor da fonte padrão. */
    font-family: 'Georgia', serif; /* Fonte elegante para os links. */
    text-decoration: none; /* Remove sublinhado dos links. */
    transition: color 0.3s; /* Adiciona transição suave para a cor da fonte. */
}

.nucleo p a:hover {
    color: black; /* Cor da fonte ao passar o mouse (tom amarelado). */
}

.nucleo p + p {
    margin-top: 0.2em; /* Espaçamento entre os parágrafos. Ajuste conforme necessário. */
}

/* Estilos para o botão dropdown */
.collapsible {
    color: white; /* Cor da fonte padrão. */
    font-family: 'Georgia', serif; /* Fonte elegante para os links. */
    text-decoration: none; /* Remove sublinhado dos links. */
    transition: color 0.3s; /* Adiciona transição suave para a cor da fonte. */
    cursor: pointer;
}

.collapsible:hover{
    color: black; /* Cor da fonte padrão. */
    font-family: 'Georgia', serif; /* Fonte elegante para os links. */
    text-decoration: none; /* Remove sublinhado dos links. */
    transition: color 0.3s; /* Adiciona transição suave para a cor da fonte. */
    cursor: pointer;
}


.collapsible-content {
    margin-top: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.5s ease-in-out;
    display: none;
}

.collapsible-content nav {
    background-color: #687259;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin:0px 0;
    font-family: 'Georgia', serif; /* Fonte elegante para os links. */
}

.collapsible-content a {
    color: white;
    text-decoration: none; /* Remove a decoração de texto (sublinhado) */
}

.collapsible-content a:hover {
    color: rgb(17, 8, 8); /* Cor da fonte ao passar o mouse (tom amarelado). */
}

.collapsible-content.active {
    max-height: 200px; /* Ajuste conforme necessário para a altura desejada */
  }

.active {
    display: block;
}

.active {
    display: block;
}

.signature {
    text-align: right;/* Fonte elegante que lembra uma assinatura. */
}

.signature p {
    font-size: 1.2em;
    margin-top: 60px;/* Fonte elegante que lembra uma assinatura. */
    
}

.signature p a{
    font-size: 1.0em;
    margin-top: 60px; /* Espaçamento superior aumentado para a assinatura. */
    font-family: 'Pacifico', cursive;/* Adiciona transição suave para a cor da fonte. */    
}

.signature p a:hover {
    color: white; /* Cor da fonte ao passar o mouse (tom amarelado). */
}


div.socialmidia {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 10%;    
    align-items: right;
}

.fa {
    padding: 0px;
    font-size: 25px;
    width: 20px;
    text-align: right;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

.fa:hover {
    opacity: 1.0;
    color: white;
}

.fa-linkedin {
    color: black;
}

.fa-youtube {
    color: black;
}

.fa-instagram {
    color: black;
}

.fa-github {
    color: black;
}

.fa-globe {
    color: black;
}
/* */

/* Para o menu de conteúdo das disciplinas */

.collapsible-conteudo {
    background-color: rgb(167, 151, 13);
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    color: black;
    cursor: pointer;
    padding: 18px;
    display: none; 
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    color: black;
    line-height: 2.0;
    border-top-left-radius: 10px;
    /* Arredonda o canto superior esquerdo */
    border-top-right-radius: 10px;
    /* Arredonda o canto superior direito */
}

.active,
.collapsible-conteudo:hover {
    background-color: #5c799b;
    color: white;
}


.content {
    padding: 0 18px;
    color: black;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

div.margem {
    margin-left: 5%;
    margin-right: 5%;
}

.top-space {
    height: 200px;
    margin-top: 200px; /* Altura fixa do espaço desejado */
    background-color: #fff; /* Cor de fundo (pode ser transparente) */
}

/* Adicione estilos conforme necessário */
.blog-container {
    text-align: center;
    margin-bottom: 20px;
}

.blog-post {
    display: inline-block;
    background-color: #687259;
    padding: 0px;
    margin: 10px;
    border-radius: 5px;
    max-width: 200px; /* Largura fixa para o contêiner */
    text-align: left;
}

.blog-post a {
    text-decoration: none;
    color: white;
    font-family: 'Georgia', serif; 
}

.blog-post p {
    margin-top: 10px;
    font-size: 18px;
    color: white;
    font-family: 'Georgia', serif; 
}