<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{"css/style.css" | relative_url}}" rel="stylesheet">
    <title>Grid Clicável</title>
    <style>

    </style>
</head>

<body>
    <div class="header">
        <p><a href={{ site.data.routes[1].route }}>Física,</a></p>
        <p><a href="link_para_disciplina_2">Manejo e</a></p>
        <p><a href="link_para_disciplina_3">Classificação do Solo</a></p>
        <div class="signature">
            <p><a href="https://daniloas.com">Por Professor Danilo Andrade</a></p>
            <div class="socialmidia">
                <a href="https://www.instagram.com/daniloas.com_/" class="fa fa-instagram"></a>
                <a href="https://www.linkedin.com/in/daniloandradesantos/" class="fa fa-linkedin"></a>
                <a href="https://github.com/daniloasdotcom" class="fa fa-github" style="color:white"></a>
                <a href="https://daniloas.com/" class="fa fa-globe" style="color:white"></a>
                <!-- Adicione mais redes sociais aqui, se desejar -->
            </div>
        </div>
        
    </div>
    
    
</body>

</html>

