<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Manejo do Solo</title>
    <link href="{{"css/post.css" | relative_url}}" rel="stylesheet">
</head>

<body>
    <main>
        <article class="post">
                <h1>{{ page.title }}</h1>
                <p class="post-date">{{ page.date | date: "%d de %B de %Y" }}</p>
                <p class="post-date">Autor: {{ page.author }}</p>
                <p class="post-date">-----------------</p>
            <div class="post-content">
                {{ content }}
            </div>
        </article>
    </main>
</body>

</html>
